<% # stylesheets 'scaffold' %>
<% # javascripts 'prototype', 'effects', 'dragdrop', 'assets' %>

<p>
  <b>Urn:</b>
  <%=h @page_object.urn %>
</p>

<p>
  <b>Header:</b>
  <%=h @page_object.header %>
</p>

<p>
  <b>Data path:</b>
  <%=h @page_object.data_path %>
</p>

<p>
  <b>Order:</b>
  <%=h @page_object.order %>
</p>

<p>
  <b>Limit:</b>
  <%=h @page_object.limit %>
</p>

