<% stylesheets 'query-listing' %>
<% # javascripts 'query-listing' %>


<h2><%=h @page_object.header %></h2>

<div class="listings<%= ' no-listings' if @page_object.full_listings.empty? %>">
<% @page_object.full_listings.each do |listing| %>
  <div class="listing">
    <a href="<%= listing.url %>">
      <div class="img"><%=image_tag listing.picture if listing.respond_to?(:picture) %></div>
      <div class="name"><%=h listing.name rescue 'Unknown' %></div>
      <div class="description"><%=h listing.description  rescue 'Unknown' %></div>
      <div class="clearfix">&nbsp;</div>
    </a>
  </div>
<% end %>
</div>